*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 256px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .wrapper .image {
    display: none;
  }
  .wrapper .desktop-img {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(170, 92, 219, 0.5))), url(/images/image-header-desktop.jpg) no-repeat;
    background: linear-gradient(rgba(170, 92, 219, 0.5)), url(/images/image-header-desktop.jpg) no-repeat;
    background-size: 100%;
    width: 50%;
    height: 250px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
  .wrapper .main-paragraph {
    margin: 2rem auto;
  }
  .wrapper .stats-heading {
    text-align: right;
  }
  .wrapper .main-text {
    padding: .5rem;
    width: 50%;
  }
  .wrapper .data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper .container {
    margin: 0 1rem;
    margin-bottom: -1rem;
  }
}

body {
  background-color: #090b1a;
  font-size: 20px;
}

.wrapper {
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem auto;
  background: #1b1938;
  padding-bottom: .5rem;
  border-radius: 10px;
}

.wrapper .image {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(170, 92, 219, 0.5))), url(/images/image-header-mobile.jpg) no-repeat;
  background: linear-gradient(rgba(170, 92, 219, 0.5)), url(/images/image-header-mobile.jpg) no-repeat;
  background-size: 100%;
  height: 280px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.wrapper .main-text {
  text-align: center;
  margin: 2rem auto;
}

.wrapper .main-paragraph {
  color: white;
  padding: .1rem 2rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bold;
  font-family: Inter;
}

.wrapper .main-paragraph span {
  color: #aa5cdb;
}

.wrapper .stats-heading {
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  padding: 0 2rem;
  font-size: 15px;
}

.wrapper .data {
  padding: 2rem;
}

.wrapper .data .stats {
  color: white;
  font-weight: bold;
  font-family: Inter;
  text-transform: uppercase;
  padding: .2rem;
}

.wrapper .data .labels {
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  font-size: small;
  font-family: 'Lexend+Deca';
  padding-bottom: 1rem;
}
/*# sourceMappingURL=main.css.map */